<div class="row">
  <div class="col-sm-12">
    <form class="server-form" method="post">
     <div class="form-group">
        <label for="content">Enter content</label><br>
        <textarea name="content" rows="5" cols="40" placeholder="Text" id="content">{{content}}</textarea>
      </div>
      <div class="form-group">
        <label for="inputString">Input String</label>
        <input type="text" class="form-control" id="inputString" name="inputString" placeholder="String to insert" value="{{inputString}}">
      </div>
     <div class="form-group">
        <label for="numInsert">Number of times to insert</label>
        <input type="number" class="form-control" id="numInsert" name="numInsert" placeholder="Number of times to insert" value="{{insertValue}}">
      </div>
      <div class="form-group">
        <label for="numBetween">Number of characters between insert</label>
        <input type="number" class="form-control" id="numBetween" name="numBetween" placeholder="Number of characters between" value="{{betweenValue}}">
      </div>
      {{#if error }}
      <div class="form-group">
        <div class="alert alert-danger">
          {{ error }}
        </div>
      </div>
      {{/if}}
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
      {{#if result }}
      <div class="form-group">
        <div class="alert alert-success">
          Output: {{ result }}
        </div>
      </div>
      {{/if}}
    </form>
  </div>
</div>