<div class="results">
    <h1>Search Results</h1>
  <div class="col-sm-12">
      <h4>Number of Results: {{ total }} </h4>
  </div>
    {{#if movies.length}}
        <ul class="list-unstyled">
            {{#each movies}}
                {{#if this.poster_path}}
                <div id="movie">
                    <li movieId="{{this.id}}">
                        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{this.poster_path}}" />
                            <div class="buttons">
                            <button type="button" id={{this.id}} class="add" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span>
                                Add to Playlist
                            </button> 
                           <button type="button" id={{this.id}} class="reviews" class="btn btn-default"><span class="glyphicon glyphicon-comment"></span>
                           Read Reviews
                           </button>
                           <button type="button" id={{this.id}} class="details" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span>
                           Movie Details
                           </button>
                        </div>
                        <div class="movie_info">
                            <ul class="list-unstyled">
                                <li><strong>Title:</strong> {{this.title}}</li>
                                <li><strong>Average Rating from The Movie DB.com: </strong> {{this.vote_average}} /10</li>
                                <li><strong>Release Date:</strong> {{this.release_date}}</li>
                                <li><strong>Overview:</strong> {{this.overview}}</li>
                            </ul>
                        </div>
                    </div>
                    </li>
                    </div>
                {{/if}}
            {{/each}}
        </ul>
    {{/if}}
</div>